.Feedback__button {
    width: 60px;
    height: 30px;
    font-weight: bold;
    background-color: white;
    margin-left: 30px;
    cursor: pointer;
    
}
.Feedback__button:hover {
background-color: blue;
color: white;
}
  
.Feedback__button:last-child {
    margin-right:0px;
}
.Feedback__button:nth-child(1n+2 ){
    margin-left: 15px;
}
.Feedback__list{
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
    
}
.Feedback__text {
    text-decoration: black;
    font-weight: bold;
    text-align: left;
    padding: 0px;
    margin-left: 30px;

}