.button {
    width: 60px;
    height: 30px;
    font-weight: bold;
    background-color: white;
    margin-left: 30px;
    cursor: pointer;
    
}
.button:hover,
button:focus {
background-color: blue;
color: white;
}
  
.button:last-child {
    margin-right:0px;
}
.button:nth-child(1n+2 ){
    margin-left: 15px;
}
.list{
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
    
}
.text {
    text-decoration: black;
    font-size: 50px;
    text-align: left;
    padding: 0px;
    margin-left: 30px;

}